@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-size: 16px;
    margin: 0;
    color: rgb(208, 212, 216);
    font-family: "Roboto";
    background-color: rgb(7, 8, 12);;
}

header{
    background-color: rgba(7, 8, 12, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header > *{
    padding: 30px;
}

#izq, #dcha{
    flex: 1;
}

#dcha{
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: nowrap;
}

#icono{
    flex: 0;
    margin: 0 auto;
    filter: invert(100%);
    padding: 15px 0px 0px 15px;
}

#buscador{
    font-size: 2rem;
    padding: 15px 10px 10px 15px;
    margin-right: 30px;
    border-radius: 30px;
    background-color: rgba(208, 212, 216, 0.8);
    width: 300px;
    border: none;
}

#buscar{
    transform: translateY(0.7rem);
    font-size: 3rem;
    color: rgba(208, 212, 216, 0.7);
}

main{
    background-color: rgb(25, 22, 38);
    padding: 168px 30px 30px 30px;
}
h1{
    font-size: 3rem;
    margin: 0px;
    margin: 0px;
}
h2{
    font-size: 2rem;
    display: inline;
    text-align: center;
}
h3{
    display: inline;
    font-size: 1.5rem;
}

.accordeonhead{
    border: 3px solid rgb(128, 128, 128);
    padding: 20px 30px 20px 30px;
    margin-bottom: 10px;
}

.accordeonhead:hover, .barracarga:hover, .elemento:hover{
    color: rgb(207, 164, 84);
    transition: 0.5s;
    border-color: rgb(207, 164, 84);
    box-shadow: 0px 0px 8px rgba(207, 164, 84, 0.466);
}

.accordeoncontent{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.elemento{
    margin-top: 15px;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 15px;
}

.elemento img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.parteabajofotos{
    text-align: center;
    margin-bottom: -10px;

}

.progresstracker{
    background-color: rgb(208, 212, 216);
    font-family: monospace;
    font-size: 1.5rem;
    width: 54px;
    border-radius: 15px;
    border: none;
}

.barracarga{
    width: calc(100% + 44px);
    border: 3px solid rgb(128, 128, 128);
    height: 24px;
    background-color: rgba(0, 0, 0, 0.247);
    border-radius: 100px;
    transform: translate(-25px, 25px);
}

